
.bandspace {
  width: 90vw;
  background-color: white;
}

p{
  padding: 5px 5px 5px 0px;

}

.make-a-booking{
  margin: 20px 0px ;
  width: 20%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.page-end {
  padding-bottom: 100px;
}

.links * {
  padding: 5px;
  margin: 5px
}

.links:first-child {
  padding: 5px 5px 5px 0px;
  margin: 5px
}
