
.bandspace {
  width: 90vw;

}

.booking-form{
  width: 20%;

}

.page-end {
  padding-bottom: 100px;
}

.links * {
  padding: 5px;
  margin: 5px
}

.links:first-child {
  padding: 5px 5px 5px 0px;
  margin: 5px
}

.host-capacity-price {
  p {
    margin-right: 20px;
  }
}
