<div class="container">
  <h1> Congratulations, your booking is complete</h1>
  <div class="booking-details">
    <h3> Venue: <%= @bandspace.name %></h3>
    <%= link_to "Back to homepage", band_spaces_path %>
  </div>
</div>
