
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.theculturetrip.com/450x/smart/wp-content/uploads/2017/02/concert-generic-photo-mari-freixes-flickr.jpg);">
  <div class="container">
    <h1>Find your ideal pratice space!</h1>
    <p>Browse thounsands of spaces uploaded by those in our community.</p>
    <a class="btn btn-flat" href="#">Sign up</a>
    <a class="btn btn-flat" href="#">Browse</a>
  </div>
</div>
