.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-item {
  margin: 5px;
  justify-content: left;
}

.container-fluid {
  margin-top: 5px;

  img {
    width: 40px;
  }
}
