.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgb(221, 221, 221);
  position: fixed;/* enable sticky feature */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar appears on top of other elements */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-item {
  margin: 5px;
  justify-content: left;
}

.container-fluid {
  margin-top: 5px;

  img {
    width: 40px;
  }
}
