<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="sticky-navbar">
  <div class="container-fluid">
      <%= link_to image_tag("https://i.pinimg.com/736x/c9/9b/27/c99b27b7ece4d9894ed490fb3529f0f5.jpg"), band_spaces_path%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
             <h3 class="p-2"> Hi <%= current_user.username %>
          </li>
          <li class="nav-item active">
             <%= link_to "Bookings", mine_bookings_path, :method => :delete, :data => { :no_turbolink => true }, class: "btn btn-flat" %>
          </li>
           <li class="nav-item active">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true }, class: "btn btn-flat" %>
          </li>
      </ul>
    </div>
  </div>
</div>
